Mobile Price Classification

From this datasets we have to find the relation between features of mobile phone and it's selling price.

In [ ]:
#Accessing the file anyother notebook
data=df
%store data

Stored 'data' (DataFrame)

Importing all the dependices

Attribute information
 
    battery_power : Total energy a battery can store in one time measured in mAh
    blue : Has bluetooth or not
    clock_speed : speed at which microprocessor executes instructions
    dual _sim : Has dual sim support or not
    fc : Front Camera megapixels
    four_g : Has 4G or not
    int_memory : Internal Memory in Gigabytes
    m_dep : Mobile Depth in cm
    mobile_wt : Weight of mobile phone
    n_cores : Number of cores of processor
    pc : Primary Camera megapixels
    px_height : Pixel Resolution Height
    px_width : Pixel Resolution Width
    ram : Random Access Memory in Megabytes
    sc_h : Screen Height of mobile in cm
    sc_w : Screen Width of mobile in cm
    talk_time : longest time that a single battery charge will last when you are
    three_g : Has 3G or not
    touch_screen : Has touch screen or not
    wifi : Has wifi or not
    price_range : This is the target variable with values of 0(low cost), 1(medium cost), 2(high cost) and 3(very high cost). **bold text**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import classification_report
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from prettytable import prettytable

In [ ]:
#loading tha data using pandas 
df=pd.read_csv("/content/drive/MyDrive/mobile_data/train.xls")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [ ]:
df.tail()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [ ]:
df.shape

(2000, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [ ]:
df.skew()

battery_power    0.031898
blue             0.020016
clock_speed      0.178084
dual_sim        -0.038035
fc               1.019811
four_g          -0.086144
int_memory       0.057889
m_dep            0.089082
mobile_wt        0.006558
n_cores          0.003628
pc               0.017306
px_height        0.666271
px_width         0.014787
ram              0.006628
sc_h            -0.098884
sc_w             0.633787
talk_time        0.009512
three_g         -1.228142
touch_screen    -0.012009
wifi            -0.028024
price_range      0.000000
dtype: float64

In [ ]:
df.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [ ]:
#splitting the dataset using train test split

x=df.drop('price_range',axis=1)
y=df['price_range']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 20)
(400, 20)
(1600,)
(400,)

RANDOM FOREST CLASSIFIER

It is basically a set of decision trees (DT) from a randomly selected subset of the training set and then It collects the votes from different decision trees to decide the final prediction.

In [ ]:
#creating RandomForestClassifier
RFC=RandomForestClassifier(n_estimators=100,criterion="gini",max_depth=3)
#fit function is used for train the model using train dataset
RFC.fit(x_train,y_train)

RandomForestClassifier(max_depth=3)

In [ ]:
#train data accuracy score
X_pred=RFC.predict(x_train)
print("accuracy of the train data accuracy score:",metrics.accuracy_score(X_pred,y_train))
#train=metrics.accuracy_score(X_pred,y_train)
#train

accuracy of the train data accuracy score: 0.843125

In [ ]:

#performing the prediction on test dataset
#test data accuracy score
y_pred=RFC.predict(x_test)
print("accuracy of the RFM model:",metrics.accuracy_score(y_test,y_pred))

accuracy of the RFM model: 0.8275

In [ ]:
"""test=metrics.accuracy_score(y_test,y_pred)
test"""

'test=metrics.accuracy_score(y_test,y_pred)\ntest'

In [ ]:
#applying confusion matrix
confusion_matrix(y_test,y_pred)

array([[102,   3,   0,   0],
       [ 13,  65,  13,   0],
       [  0,  16,  63,  13],
       [  0,   0,  11, 101]])

In [ ]:
df['price_range'].unique()

array([1, 2, 3, 0])

In [ ]:
RFC_train=RFC.score(x_train,y_train)*100
RFC_test=RFC.score(x_test,y_test)*100
RFC_con=confusion_matrix(y_test,y_pred)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.97      0.93       105
           1       0.77      0.71      0.74        91
           2       0.72      0.68      0.70        92
           3       0.89      0.90      0.89       112

    accuracy                           0.83       400
   macro avg       0.82      0.82      0.82       400
weighted avg       0.82      0.83      0.82       400

SUPPORT VECTOR CLASSIFIER

The objective of SVM algorithm is to find a hyperplane in an N-dimensional space that distinctly classifies the data points. The dimension of the hyperplane depends upon the number of features. If the number of input features is two, then the hyperplane is just a line. If the number of input features is three, then the hyperplane becomes a 2-D plane. It becomes difficult to imagine when the number of features exceeds three.

In [ ]:
#creating support vector classifier
#SVC and LinearSVC are classes capable of performing binary and multi-class classification on a dataset.
from sklearn import svm
SVC=svm.SVC(kernel='linear')

In [ ]:
#train the model using training sets
SVC.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
#predict the responses from trian data
x_pred1=SVC.predict(x_train)
print("SVC accuracy score is:",metrics.accuracy_score(x_pred1,y_train))

SVC accuracy score is: 0.98875

In [ ]:
#prdict ythe response from test data
y_pred1=SVC.predict(x_test)
print("SVC accuracy score is:",metrics.accuracy_score(y_pred1,y_test))

SVC accuracy score is: 0.97

In [ ]:
#confusion_matrix()
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       1.00      0.94      0.97       105
           1       0.91      1.00      0.95        91
           2       0.99      0.95      0.97        92
           3       0.98      0.99      0.99       112

    accuracy                           0.97       400
   macro avg       0.97      0.97      0.97       400
weighted avg       0.97      0.97      0.97       400

KNEIGHBOURS ALGORITHM

K-nearest neighbor or K-NN algorithm basically creates an imaginary boundary to classify the data. When new data points come in, the algorithm will try to predict that to the nearest of the boundary line.

In [ ]:
KNN=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
KNN.fit(x_train,y_train)

KNeighborsClassifier()

In [ ]:
y_pred2=KNN.predict(x_test)
print("accuracy of the KNN model:",metrics.accuracy_score(y_test,y_pred))

accuracy of the KNN model: 0.8275

In [ ]:
#confusion_matrix()
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98       105
           1       0.92      0.93      0.93        91
           2       0.89      0.91      0.90        92
           3       0.97      0.94      0.95       112

    accuracy                           0.94       400
   macro avg       0.94      0.94      0.94       400
weighted avg       0.94      0.94      0.94       400

In [ ]:
#creating the table format to show the algorithm accuracy score
from prettytable import PrettyTable

In [ ]:

newTable=PrettyTable(['MODEL_NAME','TEST_ACCURACY','PRECISION','RECALL'])  
newTable.add_row(['RFC','0.8475','0.89','0.96'])  
newTable.add_row(['SVM','0.97','1.00','0.94'])  
newTable.add_row(['KNN','0.9425','0.97','0.98'])

#newTable=PrettyTable(['MODEL_NAME','TEST_ACCURACY','PRECISION','RECALL'])

In [ ]:
print(newTable)

+------------+---------------+-----------+--------+
| MODEL_NAME | TEST_ACCURACY | PRECISION | RECALL |
+------------+---------------+-----------+--------+
|    RFC     |     0.8475    |    0.89   |  0.96  |
|    SVM     |      0.97     |    1.00   |  0.94  |
|    KNN     |     0.9425    |    0.97   |  0.98  |
+------------+---------------+-----------+--------+

from the above table we can take both of these 3 models to predict price range of the mobiles

In [ ]:
sns.set_style('whitegrid');
sns.pairplot(df,hue="price_range",height=4);
plt.show()